/* Responsive height */
@media (min-width: 768px){
    main {
        height: calc(100vh - 88px);
    }

    main > * {
        height: 100%;
    }
}

.curImg {
    height: 2.5rem;
}

aside {
    background-color: #eeeeee;
}

.forecast {
    width: 19%;
}
