.curImg {
    height: 2.5rem;
}

.uvi-low {
    background-color: #52e735;
}

.uvi-moderate {
    background-color: #DCE42F;
}

.uvi-high {
    background-color: #CEA237;
}

.uvi-very-high {
    background-color: #C42440;
}

.uvi-extreme {
    background-color: #C126E2;
}

aside {
    background-color: #eeeeee;
}

.forecast {
    width: 50%;
}

/* Responsive */
@media (min-width: 768px){
    main {
        height: calc(100vh - 88px);
    }

    main > * {
        height: 100%;
    }

    .forecast {
        width: 19%;
        margin: 0 auto 0 auto;
    }

    .forecast:first-child {
        margin-left: 0;
    }
    
    .forecast:last-child {
        margin-right: 0;
    }
}
