.curImg {
    height: 2.5rem;
}

aside {
    background-color: #eeeeee;
}

.forecast {
    width: 50%;
}

/* Responsive */
@media (min-width: 768px){
    main {
        height: calc(100vh - 88px);
    }

    main > * {
        height: 100%;
    }

    .forecast {
        width: 19%;
        margin: 0 auto 0 auto;
    }

    .forecast:first-child {
        margin-left: 0;
    }
    
    .forecast:last-child {
        margin-right: 0;
    }
}
